body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

header {
    background: #111;
    color: white;
    padding: 15px;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background: white;
}

article {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

article h3 {
    color: #b30000;
}

footer {
    background: #111;
    color: whit
